<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

        <div><a href=""><img src="/images/logo.png" alt=""></a></div>

        <nav>
            <ul class="menu">
                <li><a href="">smarphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>   
            </ul>

            <ul class="usuario">
                <li><a href="">login</a></li>
                <li><a href="">register</a></li>  
            </ul>

        </nav>
    </header>

    <main>
        <section class="productos">
            <article>
                <figure>
                    <img src="/images/img-phone-01.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="/images/img-phone-02.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="/images/img-phone-03.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>

            <article>
                <figure>
                    <img src="/images/img-phone-01.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="/images/img-phone-02.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>
            <article>
                <figure>
                    <img src="/images/img-phone-03.jpg" alt="telefono Movil">
                    <h4>nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, eum!</p>
                    <a href="">ver mas</a>
                </figure>
            </article>
        </section>
        
        
        <aside>
            <Section class="tutoriales">
                <h3>tutoriales</h3>
                <article>
                    <img src="/images/aside-01.jpg" alt="imagen tutorial">
                    <p>titulo del tutorial de reparacion</p>
                </article>

                <article>
                    <img src="/images/aside-02.jpg" alt="imagen tutorial">
                    <p>titulo del tutorial de reparacion</p>
                </article>

                <article>
                    <img src="/images/aside-03.jpg" alt="imagen tutorial">
                    <p>titulo del tutorial de reparacion</p>
                </article>

                <article>
                    <img src="/images/aside-04.jpg" alt="imagen tutorial">
                    <p>titulo del tutorial de reparacion</p>
                </article>

            </Section>


            <section >

                
                    <h3>Publicidad</h3>
                    
                    <article class="publicidad">

                    <img src="/images/ad-01.jpg" alt="imagen publicidad">
                    <img src="/images/ad-02.jpg" alt="imagen publicidad">
                    
                    </article>
                    
                

            </section>
        </aside>


    </main>
</body>
</html>