header{
    background-color: #ef4c27;
    display: flex;
    width:100% ;
    padding: 20px;

}

header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    align-items: center;
}

header nav ul{
    display: flex; 
    width: 100%;
}


header nav ul .menu{
    margin-left: 20px;
}

header nav ul .usuario{
    justify-content: flex-end;
}


header nav ul li{
    width: 120px;
}

header a{
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 0px 10px;
}